@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './tailwind.css';

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-[#FF9B50] flex justify-center items-center;
}

.App {
    @apply text-center;
}

h1 {
  @apply text-white mb-2 font-extrabold text-4xl;
}

.TodoWrapper {
    @apply bg-[#1a1a40] mt-24 p-14 rounded-lg shadow-2xl;
  
}

.TodoForm {
  @apply space-x-2 mb-4 w-[100%];
}

.todo-input {
  @apply outline-none bg-transparent border border-[#8758ff] rounded-lg text-white p-2 w-[300px]; 
  
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  @apply bg-[#8758ff] text-white px-2 py-2 rounded-lg;
  cursor: pointer;
  
}

.Todo {
  @apply flex justify-between items-center bg-[#8758ff] text-white px-4 py-2 rounded-lg mb-2;
  cursor: pointer;
}

.fa-trash {
  @apply ml-3;
}

.completed {
  @apply line-through text-[#94A684];
}
 